<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="customer_issues">
	<test name="testcases">
		<classes>
			<class name="Issue.testcases.IssueList" />
			<class name="Issue.testcases.IssueCreation" />
			<class name="Issue.testcases.IssueModification" />
		</classes>
	</test>
</suite>